body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.post-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.navigation {
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: #007BFF;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.delete-btn:hover {
    background-color: darkred;
}

.update-btn {
    background-color: green;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.update-btn:hover {
    background-color: darkgreen;
}